.voterList {
    width: 60%;
    margin: 0 auto;
    margin-block: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  
  .voterCardContainer {
    background-color: #231e39;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
    color: #b3b8cd;
    overflow: hidden;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  
  .voterCardContainer:hover {
    transform: scale(1.05);
  }
  
  .voterCardImage img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  
  .voterCardButton {
    background-color: #9a02ac;
    color: #fff;
    padding: 0.75rem;
    text-align: center;
    border-radius: 0.3rem;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .voterCardButton:hover {
    background-color: #731d7c;
  }
  
  /* Modal styles */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalContent {
    background: #231e39;
    color: #b3b8cd;
    border-radius: 15px;
    padding: 2rem;
    text-align: center;
    width: 90%;
    max-width: 450px;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
  }
  
  .modalImage {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
  